@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

/* src/components/Navbar.css */
.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 0 40px;
  height: 90px;
  background-color: transparent;
}

.navbar-container {
  max-width: 1400px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  position: relative;
}


.nav-links {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #2d2d2d;
  padding: 8px 0px;
  border-radius: 6px;
}

.nav-links a,
.nav-links .portfolio-parent {
  color: #b8b8b8;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
  padding: 4px 12px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.nav-links a:hover,
.nav-links .portfolio-parent:hover {
  color: #fff;
  background-color: #3d3d3d;
}

.nav-links a.active,
.nav-links .portfolio-link.active {
  background-color: #777777;
  color: #fff;
}


.portfolio-wrapper {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 35px;
  left: 0;
  background: white;
  color: black;
  padding: 12px;
  border-radius: 8px;
  min-width: 240px;
  z-index: 100;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.submenu-title {
  font-weight: 600;
  margin-top: 6px;
  cursor: pointer;
}

.sub-submenu div {
  padding: 4px 0;
  cursor: pointer;
  font-size: 15px;
}

.sub-submenu div:hover {
  color: #0366d6;
}

.dropdown-arrow {
  margin-left: 6px;
}

/* Mobile styles */
.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  color: #2b2b2b;
  cursor: pointer;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  
  .navbar-container {
    justify-content: space-between;
  }
  

  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #2d2d2d;
    color: #b8b8b8;
    position: absolute;
    top: 58px;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    min-width: 200px;
    padding: 16px;
    gap: 8px;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links a,
  .nav-links .portfolio-parent {
    color: #b8b8b8;
  }

  .dropdown-menu {
    position: static;
    background: #3d3d3d;
    color: #b8b8b8;
    margin-top: 10px;
    box-shadow: none;
  }
}
